# Virtual environments
.venv/
venv/
Activate.ps1
activate
activate.bat
activate.fish
pyvenv.cfg
*.exe

# Environment variables / secrets
.env

# Python cache & build artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
